@{
    ViewData["Title"] = "ContactUs";
}

<h1>تماس به ما</h1>
<p>09191234567</p>

<!-- start second sesson -->
<h1>@ViewData["Title"]</h1>
<p>a way for cantact Us 0917****678</p>
<P>Thanks</P>
<p>@ViewBag.nfnc4</p>
<!-- end second sesson -->