html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.create-product-form{
  text-align: center;
  border: 1px solid red;
  border-radius: 7.2px;
}
.create-product-form h6{
  color: red;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}
.create-product-form input{
  width: 130px;
  height: 34px;  
  border-radius: 7.2px;
  display: inline-block;
  margin: 10px;
  padding: 5px;
}
.file-form-input{
  border: 0px solid none !important;
  width: 150px !important;
}
.form-submit{
  border: 0px solid none !important;
  width: 70px !important;
}